header,
footer,
#scrollUp,
#panel,
.gp_hide,
.navbar-wrapper,
.gp_breadcrumb-wrapper,
.mfeedback,
.pic,
.catalog-element-left .catalog-element-left-right,
.catalog-element-right .gp_object_items,
.catalog-element-right .element-ymap {
    display: none !important;
}

.catalog-element-left {
    float: none !important;
}

html, body {
    background: #ffffff !important;
    height: auto !important;
}

body {
    margin: 0 !important;
    padding: 32.5197pt 42.5197pt 0 26.6929pt !important;
    width: 496.067pt !important;
}

.printable {
    display: inline !important;
}

.content {
    line-height: 1.2 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.wrapper {
    min-height: auto !important;
}

h1 {
    font-size: 22px !important;
}

img {
    width: 100% !important;
}

.gp_element_price .gp_price {
    font-size: 22px !important;
}

.gp_element_price span,
.rubble::before {
    font-size: 18px !important;
}

.gp_element_price .gp_price {
    color: #434343 !important;
}

.catalog-element-left {
    width: 100% !important;
    height: auto !important;
}

.catalog-element-left-left {
    width: 58% !important;
}

.gp_element_price {
    background: none !important;
    color: #434343 !important;
    text-align: left !important;
    text-shadow: none !important;
    width: 39.8% !important;
    float: right !important;
    border: 1px dashed #b5b5b5 !important;
    border-radius: 7px !important;
    box-sizing: border-box !important;
    padding: 5px 10px !important;
    margin-bottom: 10px !important;
    font-size: 22px !important;
}

.catalog-element-right {
    width: 40% !important;
    margin: 0 !important;
    float: right !important;
}

.catalog-element-right .item {
    width: 99% !important;
    float: right !important;
    min-height: 0 !important;
    margin-bottom: 10px !important;
}

.youexpert {
    padding: 0 !important;
    font-size: 12px !important;
    display: inline !important;
}

.catalog-element-right .item .table-realtor {
    font-size: 12px !important;
    padding: 5px 10px !important;
}

.gp_obj-agent-phone a {
    color: #434343 !important;
    font-size: 22px !important;
}

.gp_obj-agent-phone a:hover {
    color: #434343 !important;
}

.gp_params_line {
    font-size: 12px !important;
    height: 12px !important;
}

.gp_object_items {
    margin: 0 0 11px !important;
    font-size: 12px !important;
    font-family: "Arial", sans-serif !important;
    line-height: 1.4 !important;
    padding: 10px 10px 5px !important;
}

.element-feedback {
    font-size: 12px !important;
}