.timeline {
    position: relative;
    list-style-type: none;
    padding: 15px 0;
}

.timeline:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
}

.event {
    position: relative;
    margin-bottom: 20px;
    padding-right: 40px;
}

.event i,
.event input[type="radio"] {
    width: 46px;
    height: 46px;
    left: 40px;
    top: 26px;
    position: absolute;
    display: block;
    font-style: normal;
    margin: 0;
}

.event input[type="radio"] {
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.event i:after {
    font-family: 'FontAwesome';
    content: '\f058';
    color: #82549e;
    font-size: 46px;
    height: 100%;
    width: 100%;
    left: 0;
    top: -3px;
    line-height: 44px;
    position: absolute;
    text-align: center;
}

.content-perspective {
    margin-left: 112px;
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -o-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
}

.contents {
    -webkit-transform: rotateY(10deg);
    -moz-transform: rotateY(10deg);
    -o-transform: rotateY(10deg);
    -ms-transform: rotateY(10deg);
    transform: rotateY(10deg);

    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.content-inner {
    position: relative;
    padding: 20px;
    color: #333;
    border: none;
    border-left: 5px solid #82549e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.content-inner h3 {
    font-size: 22px;
    padding: 0 0 10px;
    color: #82549e;
    line-height: 1.4;
}

.content-inner .txt-block label::before {
    color: rgba(255, 0, 120, 0);
}

.content-inner .txt-block a {
    opacity: 0;
    color: rgba(101, 160, 206, 1);
    border-bottom: 1px dashed rgba(101, 160, 206, 1);
}

.content-inner .txt-block {
    font-size: 18px;
    max-height: 0px;
    overflow: hidden;
    color: transparent;
    color: rgba(0, 0, 0, 0);
    text-align: left;
}

.content-inner:before {
    font-family: 'FontAwesome';
    content: '\25c2';
    font-weight: normal;
    font-size: 54px;
    line-height: 54px;
    position: absolute;
    height: 30px;
    color: #82549e;
    left: -34px;
    top: 17px;
    z-index: -1;
}

/* Transitions */

.content-inner h3 {
    -webkit-transition: all 0.6s ease-in-out 0.2s;
    -moz-transition: all 0.6s ease-in-out 0.2s;
    -o-transition: all 0.6s ease-in-out 0.2s;
    -ms-transition: all 0.6s ease-in-out 0.2s;
    transition: all 0.6s ease-in-out 0.2s;
}

.content-inner {
    -webkit-transition: box-shadow 0.8s linear 0.2s;
    -moz-transition: box-shadow 0.8s linear 0.2s;
    -o-transition: box-shadow 0.8s linear  0.2s;
    -ms-transition: box-shadow 0.8s linear 0.2s;
    transition: box-shadow 0.8s linear 0.2s;
}

.contents {
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
    -moz-transition: -moz-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
    -o-transition: -o-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
    -ms-transition: -ms-transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
    transition: transform 0.8s cubic-bezier(.59,1.45,.69,.98) 0.2s;
}

.content-inner .txt-block,
.content-inner .txt-block label::before {
    -webkit-transition: max-height 0.5s linear, color 0.3s linear;
    -moz-transition: max-height 0.5s linear, color 0.3s linear;
    -o-transition: max-height 0.5s linear, color 0.3s linear;
    -ms-transition: max-height 0.5s linear, color 0.3s linear;
    transition: max-height 0.5s linear, color 0.3s linear;
}

.content-inner .txt-block a {
    -webkit-transition: max-height 0.5s linear, opacity 0.3s linear;
    -moz-transition: max-height 0.5s linear, opacity 0.3s linear;
    -o-transition: max-height 0.5s linear, opacity 0.3s linear;
    -ms-transition: max-height 0.5s linear, opacity 0.3s linear;
    transition: max-height 0.5s linear, opacity 0.3s linear;
}

/* Checked */

.event input[type="radio"]:checked + i:after {
    content: '\f058';
    color: #ff0078;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.8);
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner h3 {
    color: #ff0078;
}

.event input[type="radio"]:checked ~ .content-perspective .contents {
    -webkit-transform: rotateY(-5deg);
    -moz-transform: rotateY(-5deg);
    -o-transform: rotateY(-5deg);
    -ms-transform: rotateY(-5deg);
    transform: rotateY(-5deg);
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner {
    border-color: #ff0078;
    box-shadow: 10px 0px 10px -2px rgba(0, 0, 0, 0.2);
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner .txt-block,
.event input[type="radio"]:checked ~ .content-perspective .content-inner .txt-block label::before,
.event input[type="radio"]:checked ~ .content-perspective .content-inner .txt-block a {
    -webkit-transition-delay: 0s, 0.6s;
    -moz-transition-delay: 0s, 0.6s;
    -o-transition-delay: 0s, 0.6s;
    -ms-transition-delay: 0s, 0.6s;
    transition-delay: 0s, 0.6s;
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner .txt-block {
    max-height: 300px; /* Add media queries */
    color: rgba(0, 0, 0, 0.6);
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner .txt-block a {
    opacity: 1;
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner .txt-block a:hover {
    color: #EE2A7A;
    border-bottom: 1px dashed #EE2A7A;
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner .txt-block label::before {
    color: rgba(255, 0, 120, 1);
}

.event input[type="radio"]:checked ~ .content-perspective .content-inner:before {
    color: #ff0078;
}

.content-inner .txt-block,
.event i {
    -webkit-backface-visibility: hidden;
}

@media screen and (max-width: 850px) {
    .content-inner h3 {
        font-size: 20px;
    }

    .content-inner .txt-block {
        font-size: 14px;
        text-align: justify;
    }

    .event input[type="radio"]:checked ~ .content-perspective .content-inner .txt-block {
        max-height: 500px;
    }
}

@media screen and (max-width: 540px) {
    .timeline::before {
        left: 50px;
    }

    .event {
        padding-right: 0px;
        margin-bottom: 100px;
    }

    .event input[type="radio"] {
        width: 100px;
        height: 100px;
        left: 0px;
        top: 0px;
    }

    .event i {
        display: none;
    }

    .content-perspective {
        margin-left: 0px;
        top: 80px;
    }

    .content-perspective:before {
        height: 0px;
    }

    .contents {
        -webkit-transform: rotateX(-10deg);
        -moz-transform: rotateX(-10deg);
        -o-transform: rotateX(-10deg);
        -ms-transform: rotateX(-10deg);
        transform: rotateX(-10deg);
    }

    .event input[type="radio"]:checked ~ .content-perspective .contents {
        -webkit-transform: rotateX(10deg);
        -moz-transform: rotateX(10deg);
        -o-transform: rotateX(10deg);
        -ms-transform: rotateX(10deg);
        transform: rotateX(10deg);
    }

    .content-inner {
        border-left: none;
        border-top: 5px solid #82549e;
    }

    .event input[type="radio"]:checked ~ .content-perspective .content-inner {
        border-color: #ff0078;
        box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.1);
    }

    .content-inner:before {
        content: '\25b4';
        left: 33px;
        top: -32px;
    }

    .event input[type="radio"]:checked ~ .content-perspective .content-inner .txt-block {
        max-height: 300px;
    }
}




