.gp-form {
    margin: 0 0 25px 0;
}

.gp-filter h3 {
    text-align: center;
}

.gp-filter .gp-items {
    position: relative;
}

.gp-filter .gp-item {
    display: inline-block;
    min-height: 23px;
    margin: 0 0 15px;
}

.gp-filter .gp-item span {
    display: inline-block;
}

.gp-filter select, .gp-filter input, .gp-filter textarea {
    font-size: 13px;
    max-width: 100%;
    vertical-align: middle;
    border: 1px solid #AAAAAA;
    margin: 1px 0;
    outline: 0 none;
    padding: 4px 5px;
    background: #fff;
}

.gp-filter input:focus, .gp-filter textarea:focus {
    border: 1px solid #5897FB;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.gp-filter .gp-item label {
    margin-right: 10px;
}

.gp-filter .gp-item label input {
    vertical-align: baseline;
    margin-right: 3px
}

.gp-filter .gp-buttons button {
    font-size: 14px;
    display: inline-block;
    min-height: 26px;
    padding: 0 12px;
    line-height: 26px;
    color: #444444;
    letter-spacing: normal;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    text-shadow: 0 1px 0 #ffffff;
    cursor: pointer;
    background: #ffffff;
}

/*Hover*/
.gp-filter .gp-buttons button:hover,
.gp-filter .gp-buttons button:focus {
    background-color: #fafafa;
    color: #444444;
    outline: none;
}

/*Active*/
.gp-filter .gp-buttons button:active {
    background-color: #f5f5f5;
    color: #444444;
    border-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chosen-container-single .chosen-single,
.chosen-container-multi .chosen-choices {
    border-radius: 2px;
    background: #fff;
}

.gp-ot-do {
    white-space: nowrap;
    display: inline-block;
}